.profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  .pCard{
    background-color: aqua;
    display: flexbox;
  }
  
  .profile-edit {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  .surface-card{
    background-color: #828ce0 !important;
  }

  